language: cpp

matrix:
    include:
        - os: linux
          sudo: required
          dist: trusty
          compiler: clang
          env: CONFIG=Release
        - os: osx
          compiler: clang
          env: CONFIG=Release

install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
         sudo apt-add-repository -y ppa:beineri/opt-qt56-trusty
      && sudo apt-get -qq update
      && sudo apt-get -qq install build-essential qt56tools qt56base qt56svg
      && QTDIR="/opt/qt56"
      && PATH=$QTDIR/bin:$PATH
      && qt56-env.sh
      ;
    else
         brew update
      && brew install qt5
      && brew linkapps qt5
      && brew link --force qt5
      && chmod -R 755 /usr/local/opt/qt5/*
      ;
    fi

script:
  - qmake src/Geac.pro
  - make -j$(nproc)
